.circle {

  position: absolute;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;

  &.small {
    $radius: 10px;
    width: $radius;
    height: $radius;
    border-radius: $radius;
    transition: all 1.5s;
    background-color: blue;
  }

  &.large {
    $radius: 500px;
    width: $radius;
    height: $radius;
    border-radius: $radius;
    transition: all 1.5s;
    background-color: hotpink;
  }

  &.start {
    left: 1%;
  }

  &.enterd {
    left: 50%;
  }

}
